
.title {
    justify-content: center;
}
.container {
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    alig

}
.grid {

    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 782px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}