.grid {

    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 782px;
    padding: 10px;
    justify-content: center;
}
.title {
    text-align: center;
}
.container {
    border: 1px solid black;
    text-align: center;

}