.html {
    height: 100%;
}
 
.table{
    height: 100%;
    clip-path: inset(1% 9% 1% 9% round 20%);
    background-color: rgb(70, 184, 167);
    background-color: radial-gradient(
    circles,
    rgba(70, 184, 167, 1) 0%,
    rgba(55, 80, 219, 1) 100%
    );
}