#titleheader {
    text-align: center;
    justify-content: center;
}
#monthAndYear {
    text-align: center;
    justify-content: center;
}
#calendar {
    text-align: center;
    justify-content: center;
    background-color: #D0D1FF;
    color: white;
	font-size: 47px;
	-webkit-text-stroke: 3px #C0FDFF;
}

