#titleheader {
    text-align: center;
    justify-content: center;
}
#monthAndYear {
    text-align: center;
    justify-content: center;
}
#calendar {
    text-align: center;
    justify-content: center;
}