html {
    background-color: #D0D1ff;
}
#titleheader {
    text-align: center;
    justify-content: center;
    background-color: #D0D1ff;
    color: white;
	-webkit-text-stroke: 1.5px #DEAAFF;
    border: 5px solid #D8BBFF;

}
#monthAndYear {
    text-align: center;
    justify-content: center;
    color: white;
	font-size: 50px;
	-webkit-text-stroke: 1.5px #DEAAFF;
    background-color: #D0D1ff;
    border: 5px solid #D8BBFF;


}
#calendar {
    text-align: center;
    justify-content: center;
    background-color: #D0D1FF;
    color: white;
	font-size: 40px;
	-webkit-text-stroke: 1.0px #DEAAFF;
    border: 5px solid #D8BBFF;
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    justify-content: top;
  }
  

