/* You can add global styles to this file, and also import other style files */

body, html {
  height: calc(100% - 4em);
}

body{
  background:#3e72e2;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat';
  display: grid;
  align-items: center;
  font: size 3en;
  padding: 2em;
}
