html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    display: flex;

}

.headcontainer {
    display: inline-flex;
    padding: 19px;
    justify-content: space-between;
    flex-direction: row;
    float: right;
}
.teacozy {

}
.mission {
    display: inline-flex;
    text-decoration: underline;
    text-align: right;

}
.featuredtea {
    text-decoration: underline;
    text-align: right;
}
.locations{
    text-decoration: underline;
    text-align: right;
}