html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
body {
    display: flex;
    justify-content: space-between;
    opacity: 0.9;

}
.headcontainer {
    display: flex;
    text-align: center
}
.teacozy {
 padding-right: 20em;
 text-align: center;
 opacity: 0.9;

}

.mission {
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    opacity: 0.9;

}
.featuredtea {
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
}
.locations{
    text-decoration: underline;
    text-align: right;
    padding: 20px;
    opacity: 0.9;
}