html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.outtercontainer {
    display: flex;
}
.bodycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
}
.bodycontainer div {
    background-color: black;
}
.ourmission {
    width: 100%;
    text-align: center;
}
.handpicked {
    width: 100%;
    text-align: center;
}

.headcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
    height: 69px;

}
.headcontainer div{
    padding: 10px;
}
.teacozy {
 opacity: 0.9;
 flex: 2;
}

.mission {
    text-decoration: underline;
    opacity: 0.9;
    flex: 0.25;
}
.featuredtea {
    text-decoration: underline;
    opacity: 0.9;
    flex: 0.25;
    text-align: center;
}
.locations{
    text-decoration: underline;
    opacity: 0.9;
    flex: 0.25;
   
}