html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
body {
    display: flex;
    justify-content: space-between;
    opacity: 0.9;

}
.headcontainer {
    display: flex;
    text-align: center;
    border: 1px white solid;
}
.teacozy {
 text-align: center;
 opacity: 0.9;
 flex: 2;
}

.mission {
    text-decoration: underline;
    opacity: 0.9;
    flex: 1;
}
.featuredtea {
    text-decoration: underline;
    opacity: 0.9;
    flex: 1;
}
.locations{
    text-decoration: underline;
    opacity: 0.9;
    flex: 1;
}